@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

h4 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

body {
    display: flex;
}

.first-column {
    width: 90%;
    height: 90%;
    margin: 5px;
    padding: 15px;
}

.second-column {
    border: 1px solid #4F4F4F;
    width: 90%;
    margin: 20px;
}

textarea {
    width: 90%;
    min-height: 400px;
}

p {
    margin-bottom: 15px;
}

.first-column-button {
    display: inline-block;
    margin: 10px 15px 10px 0px;
    padding: 15px;
    border: 1px solid rgb(27,31,36, .15);
    border-radius: 5px;
    cursor: pointer;
    background-color: #f6f8fa;
}

.first-column-button:hover {
    background-color: #edeef3;
}

summary {
    cursor: pointer;
}

#fix {
    background-color: #6fce6f;
    padding: 5px;
    border-radius: 5px;
}

#template {
    margin-top: 15px;
    padding: 5px;
    width: 350px;
    min-height: 30px;
}

::marker {
    color: #6fce6f;
    font-size: x-large;
}

.notice-list {
    display: flex;
    flex-direction: column;
}

.notice {
    padding: 5px;
    margin: 5px;
    background-color: darkgray;
    border: 1px solid #4F4F4F;
    border-radius: 15px;
    cursor: pointer;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.done-notice {
    background-color: #6fce6f;
}

.fail-notice {
    background-color: #ce6f6f;
}

#add-comments {
    margin: 0px 0px 5px 50px;
}

.settings {
    margin: 15px 0px 5px 0px;
    display: inline-flex;
    justify-content: space-around;
}

.range-info {
    min-width: 200px;
}

.in-progress {
    background-color: #cea86f;
}

details {
    background-color: #f6f8fa;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(27,31,36, .15);
}

details:hover {
    background-color: #edeef3;
}